Pease find FSC Batch Turnover for Date - {{current_Odate}}


1. Shift : {{shift}}

2. Verify Abends match alerts in WLA: {{verify_abends}}

3. Verify jMagic No-abend alerts have been addressed: {{verify_no_abend}}

4. Verify all Abends in WLA have valid notes: {{wla_valid_notes}}

5. Batch One Time tickets are current to end of shift: {{bot_tickets}}

6. Verify that all Abends in jMagic have valid updates in the associated incident: {{all_abends_incident}}

7. Verify any cyclic jobs in UCC7.OVERRIDE: {{ucc_override}}

8. Service Request have been handled: {{service_req}}

9. Group emails have been addressed: {{group_emails}}

10. Held jobs reviewed: {{held_jobs}}

12. FSC Production Report reviewed: {{fsc_report_reviewed}}

13. Notable Incidents: {{notable_inc}}

14. QR Changes: {{qr_changes}}

15. BIM's to watch closely: {{bim}}

16. Other shift notes and special instructions: {{other_shift_notes}}



Thanks,
Batch Services
FSC

<html>
<body>
Hello,
<br><br>
Pease find FSC Batch Turnover for Date - {{current_Odate}}
<br><br>
<pre>
1. Shift : {{shift}}

2. Verify Abends match alerts in WLA: {{verify_abends}}

3. Verify jMagic No-abend alerts have been addressed: {{verify_no_abend}}

4. Verify all Abends in WLA have valid notes: {{wla_valid_notes}}

5. Batch One Time tickets are current to end of shift: {{bot_tickets}}

6. Verify that all Abends in jMagic have valid updates in the associated incident: {{all_abends_incident}}

7. Verify any cyclic jobs in UCC7.OVERRIDE: {{ucc_override}}

8. Service Request have been handled: {{service_req}}

9. Group emails have been addressed: {{group_emails}}

10. Held jobs reviewed: {{held_jobs}}

12. FSC Production Report reviewed: {{fsc_report_reviewed}}

13. <bold>Notable Incidents:</bold> {{notable_inc}}

14. <bold>QR Changes:</bold> {{qr_changes}}

15. <bold>BIM's to watch closely:</bold> {{bim}}

16. <bold>Other shift notes and special instructions:</bold> {{other_shift_notes}}
</pre>

<br><br><br>
<h4>Thanks,</h4>
<h4>Batch Services</h4>
<h4>FSC</h4>

</body>
<header></header>
</html>


<html>
<head>
    <style>
        table, td, th {
          border: 1px solid #ddd;
          text-align: left;
        }

        table {
          border-collapse: collapse;
          width: 100%;
        }

        th, td {
          padding: 15px;
        }

        tr:nth-child(even) {background-color: #f2f2f2;}
    </style>
</head>

<body>
Hello,
<br><br>
Pease find FSC Batch Turnover for Date - {{current_Odate}}
<br><br>
<table>
    <tbody>
        <tr>
            <td>Shift</td>
            <td>{{shift}}</td>
        </tr>
        <tr>
            <td>Verify Abends match alerts in WLA</td>
            <td>{{verify_abends}}</td>
        </tr>

        <tr>
            <td>Verify jMagic No-abend alerts have been addressed</td>
            <td>{{verify_no_abend}}</td>
        </tr>

        <tr>
            <td>Verify all Abends in WLA have valid notes</td>
            <td>{{wla_valid_notes}}</td>
        </tr>

        <tr>
            <td>Batch One Time tickets are current to end of shift</td>
            <td>{{bot_tickets}}</td>
        </tr>

        <tr>
            <td>Verify that all Abends in jMagic have valid updates in the associated incident</td>
            <td>{{all_abends_incident}}</td>
        </tr>

        <tr>
            <td>Verify any cyclic jobs in UCC7.OVERRIDE</td>
            <td>{{ucc_override}}</td>
        </tr>

        <tr>
            <td>Service Request have been handled</td>
            <td>{{service_req}}</td>
        </tr>

        <tr>
            <td>Group emails have been addressed</td>
            <td>{{group_emails}}</td>
        </tr>
        <tr>
            <td>Held jobs reviewed</td>
            <td>{{held_jobs}}</td>
        </tr>
        <tr>
            <td>FSC Production Report reviewed</td>
            <td>{{fsc_report_reviewed}}</td>
        </tr>
        <tr>
            <td>Notable Incidents</td>
            <td>{{notable_inc}}</td>
        </tr>
        <tr>
            <td>QR Changes</td>
            <td>{{qr_changes}}</td>
        </tr>
        <tr>
            <td>BIM's to watch closely</td>
            <td>{{bim}}</td>
        </tr>
        <tr>
            <td>Other shift notes and special instructions</td>
            <td>{{other_shift_notes}}</td>
        </tr>

    </tbody>
</table>

<br><br><br>
<h4>Thanks,</h4>
<h4>Batch Services</h4>
<h4>FSC</h4>

</body>
<header></header>
</html>